# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
App/Viewer/Viewer
*.kvs

*.csv
*.pro
.DS_Store
.qmake.stash
moc_*
Makefile
*.swp
